html,
body {
  height:100%;
}

body {
  background: radial-gradient(circle, papayawhip, seashell, wheat);
}

.App-header,
.App-loading {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
  background-image: url('/images/dark-stone-wall-background-tile.jpg');
}

.stories-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(8, auto);
  padding: 1rem;
}

/* unconventional breakpoints but allow fluidity with the design */

@media screen and (max-width: 980px) {
  .stories-container {
    grid-template-columns: repeat(6, auto);
  }
}

@media screen and (max-width: 768px) {
  .stories-container {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 540px) {
  .stories-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 410px) {
  .stories-container {
    grid-template-columns: repeat(2, auto);
  }

  .App-logo {
    width: 100%;
  }
}

.story-content {
  display: inline-grid;
}