.story-content {
  display: flex;
  justify-content: space-between;
  border: .1rem solid darkred;
  padding: 3px;
  background: linear-gradient(to bottom right, red, sandybrown);
  height: 100%;
  text-decoration: none;
}

.story-content:hover {
  background: linear-gradient(to bottom right, darkred, crimson);
}

.story-content__title-and-author-container {
  display: flex;
  flex-direction: column;
  font-size: .7rem;
  justify-content: space-between;
}

.story-content__score {
  font-weight: bold;
  font-size: .8rem;
  color: darkred;
  background: lightsalmon;
  margin-right: .2rem;
  max-height: .8rem;
  padding: .4rem;
  border: .1rem solid darkred;
  border-radius: 1rem;
}

.story-content__title {
  padding-bottom: .7rem;
  color: seashell;
}

.story-content__author {
  font-style: italic;
  color: darkred;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  margin: 10rem auto;
  padding: 1rem;
  background: white;
  border-radius: .5rem;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup__story-title {
  font-family: fantasy;
  max-width: 95%;
}
