.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  width: 50%;
  margin: 10rem auto;
  padding: 1rem;
  background: white;
  border-radius: .5rem;
  transition: all 5s ease-in-out;
}

.popup__story-title {
  max-width: 95%;
  font-family: fantasy;
}

.popup__close-button {
  position: absolute;
  top: 0;
  right: .75rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: all 200ms;
}

.popup__close-button:hover {
  color: crimson;
}

.popup__story-text {
  overflow: auto;
  margin-top: 1rem;
  font-size: .8rem;
  color: darkslategrey;
}