.story-preview__link {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 3px;
  background: linear-gradient(to bottom right, red, sandybrown);
  border: .1rem solid darkred;
  text-decoration: none;
}

.story-preview__link:hover {
  background: linear-gradient(to bottom right, darkred, crimson);
}

.story-preview__title-and-author-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .7rem;
}

.story-preview__score {
  min-width: .7rem;
  max-height: .8rem;
  margin-right: .2rem;
  padding: .4rem;
  background: lightsalmon;
  border: .1rem solid darkred;
  border-radius: 1rem;
  font-size: .8rem;
  font-weight: bold;
  color: darkred;
}

.story-preview__title {
  padding-bottom: .7rem;
  color: seashell;
}

.story-preview__author {
  font-style: italic;
  color: darkred;
}